<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlSample.Properties.Settings.fitdbConnectionString"
            connectionString="server=localhost;user id=bsnbk;password=1234;persistsecurityinfo=True;database=fitdb"
            providerName="Sql.Data.SqlClient" />
        <add name="SqlSample.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="MySQLSample.Properties.Settings.fitdbConnectionString"
            connectionString="server=localhost;user id=bsnbk;password=1234;persistsecurityinfo=True;database=fitdb"
            providerName="Sql.Data.SqlClient" />
        <add name="MySQLSample.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="MySQLSample.Properties.Settings.daurenyerbolovConnectionString"
            connectionString="server=localhost;user id=root;database=daurenyerbolov"
            providerName="MySql.Data.MySqlClient" />
        <add name="MySQLSample.Properties.Settings.daurenyerbolovConnectionString1"
            connectionString="server=localhost;user id=root;database=daurenyerbolov;persistsecurityinfo=False"
            providerName="MySql.Data.MySqlClient" />
        <add name="MySQLSample.Properties.Settings.fitbdConnectionString"
            connectionString="server=localhost;user id=root;database=fitbd"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="Sql.Data.SqlClient" />
      <add description=".Net Framework Data Provider for Sql" invariant="Sql.Data.SqlClient" name="Sql Data Provider" type="Sql.Data.SqlClient.SqlClientFactory, Sql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>